[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;Application;
Name=Afad - VPN
Comment=Afad VPN Uygulaması openconnect
Exec=sudo /opt/afad/openconnect/openconnect --protocol=gp merkez.afad.gov.tr
Icon=network-workgroup
Path=
Terminal=true
StartupNotify=false