[Desktop Entry]
Name=Usage
Name[ca]=Ús
Name[cs]=Využití
Name[de]=Auslastung
Name[en_GB]=Usage
Name[es]=Uso
Name[fi]=Käyttötiedot
Name[fr]=Utilisation
Name[fur]=Ûs
Name[gl]=Uso
Name[hr]=Resursi
Name[hu]=Használat
Name[id]=Pemakaian
Name[it]=Utilizzo
Name[nb]=Bruk
Name[nl]=Gebruik
Name[pl]=Monitor
Name[pt_BR]=Uso
Name[sk]=Využitie
Name[sr]=Коришћење
Name[sl]=Uporaba
Name[sr@latin]=Korišćenje
Name[sv]=Användning
Name[tr]=Kullanım
Name[zh_TW]=用量
Comment=A nice way to view information about use of system resources, like memory and disk space
Comment[ca]=Una manera atractiva de visualitzar la informació de l'ús dels recursos, com ara memòria o espai en disc
Comment[cs]=Elegantní způsob, jak zobrazit informace o využití systémových prostředků, jako jsou operační paměť a místo na disku.
Comment[de]=Eine gute Möglichkeit, Informationen über die Verwendung von System-Ressourcen, wie Arbeitsspeicher und Speicherplatz anzuzeigen
Comment[en_GB]=A nice way to view information about use of system resources, like memory and disk space
Comment[es]=Una buena manera de ver información sobre el uso de los recursos del sistema, como la memoria y el espacio en disco.
Comment[fi]=Mukava tapa seurata järjestelmän resurssien, esimerkiksi muistin ja levytilan, käyttöä
Comment[fr]=Un bon moyen d’afficher les informations sur l’utilisation des ressources système, telles que la mémoire et l’espace disque
Comment[fur]=Un biel mût par viodi lis informazions sul ûs des risorsis di sisteme, come memorie e spazi dal disc
Comment[hr]=Ugodan način za prikaz informacija o upotrebi resursa sustava, poput memorije i diskovnog prostora
Comment[hu]=Remek eszköz a rendszer-erőforrások használatáról szóló információk megjelenítésére, mint például a memória és a lemezterület
Comment[id]=Cara yang baik untuk melihat informasi tentang penggunaan sumber daya sistem, seperti memori dan ruang diska
Comment[it]=Un buon modo per visualizzare informazioni sull'uso delle risorse di sistema, come la memoria e lo spazio su disco
Comment[nl]=Een leuke manier om informatie te bekijken over het gebruik van systeembronnen, zoals geheugen en schijfruimte
Comment[pl]=Wygodny sposób na wyświetlanie informacji o użyciu zasobów komputera, takich jak pamięć i miejsce na dysku
Comment[pt_BR]=Uma forma legal de ver informações sobre o uso dos recursos do sistema, como memória e espaço em disco
Comment[sk]=Elegantný spôsob zobrazenia informácií o využití systémových prostriedkov ako je pamäť a diskový priestor
Comment[sr]=Погодан начин за преглед података о коришћењу ресурса система, као што је меморија и простор на диску
Comment[sr@latin]=Pogodan način za pregled podataka o korišćenju resursa sistema, kao što je memorija i prostor na disku
Comment[sv]=Ett trevligt sätt att se information om användning av systemresurser, så som minne och diskutrymme
Comment[tr]=Bellek ve disk alanı gibi sistem kaynaklarının kullanımıyla ilgili bilgiyi görmek için güzel bir yol
Comment[zh_TW]=以簡單的方式查看系統資源的使用資訊，例如記憶體或磁碟用量
Categories=GNOME;GTK;System;Monitor;
Exec=gnome-usage
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Usage
Icon[ca]=org.gnome.Usage
Icon[cs]=org.gnome.Usage
Icon[de]=org.gnome.Usage
Icon[en_GB]=org.gnome.Usage
Icon[es]=org.gnome.Usage
Icon[fi]=org.gnome.Usage
Icon[fr]=org.gnome.Usage
Icon[fur]=org.gnome.Usage
Icon[hr]=org.gnome.Usage
Icon[hu]=org.gnome.Usage
Icon[id]=org.gnome.Usage
Icon[it]=org.gnome.Usage
Icon[nb]=org.gnome.Usage
Icon[nl]=org.gnome.Usage
Icon[pl]=org.gnome.Usage
Icon[pt_BR]=org.gnome.Usage
Icon[sk]=org.gnome.Usage
Icon[sr]=org.gnome.Usage
Icon[sr@latin]=org.gnome.Usage
Icon[sv]=org.gnome.Usage
Icon[tr]=org.gnome.Usage
Icon[zh_TW]=org.gnome.Usage
Terminal=false
StartupNotify=true
Type=Application
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
Keywords[ca]=Monitor;Sistema;Procés;CPU;Memòria;Xarxa;Història;Ús;Rendiment;Tasca;Gestor;
Keywords[cs]=monitor;monitorovat;sledování;sledovat;systém;proces;CPU;procesor;paměť;operační paměť;síť;historie;využití;vytížení;výkon;úloha;správce;správa;
Keywords[de]=Überwachung;System;Prozess;CPU;Speicher;Netzwerk;Chronik;Last;Leistung;Aufgabe;Dienst;Verwaltung;
Keywords[en_GB]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
Keywords[es]=Monitor;Sistema;Proceso;CPU;Memoria;Red;Histórico;Uso;Rendimiento;Tarea:Gestor;Administrador;
Keywords[fi]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
Keywords[fr]=surveiller;système;processus;traitement;processeur;mémoire;réseau;historique;utilisation;performance;tâche;gestionaire;
Keywords[fur]=Monitorâ;Sisteme;Procès;CPU;Memorie;Rêt;Cronologjie;Ûs;Prestazion;Ativitât;Gjestion;
Keywords[hr]=Nadgledaj;Sustav;Proces;CPU;Memorija;Mreža;Povijest;Upotreba;Performanse;Zadatak;Upravitelj;
Keywords[hu]=Figyelő;Rendszer;Folyamat;CPU;Memória;Hálózat;Előzmények;Használat;Teljesítmény;Feladat;Kezelő;
Keywords[id]=Monitor;Sistem;Proses;CPU;Memori;Jaringan;Riwayat;Pemakaian;Performa;Tugas;Pengelola;
Keywords[it]=Monitor;Sistema;Processo;CPU;Processore;Memoria;Rete;Cronologia;Utilizzo;Uso;Performance;Prestazione;Attività;Gestione;
Keywords[nb]=Overvåk;System;Prosess;CPU;Minne;Nettverk;Historikk;Bruk;Ytelse;Oppgaveliste;
Keywords[nl]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Taak;Beheer;Geschiedenis;Gebruik;Netwerk;Geheugen;Proces;Systeem;Prestaties;
Keywords[pl]=Monitor;System;Komputer:Proces;Procesor;CPU;Pamięć;RAM;Sieć;Internet;Historia;Użycie;Wykorzystanie;Wydajność;Zadanie;Menedżer;Menadżer;Manadżer;Manedżer;Zadań;
Keywords[pt_BR]=Monitor;Sistema;Processo;CPU;Memória;Rede;História;Uso;Desempenho;Performance;Tarefa;Gerenciar;
Keywords[sk]=monitorovanie;sledovanie;systém;systému;proces;CPU;procesor;pamäť;sieť;história;využitie;výkon;úloha;správca;
Keywords[sr]=прати;систем;процес;ЦПУ;меморија;мрежа;историјат;коришћење;учинковитост;задатак;управник;монитор;prati;sistem;proces;CPU;memorija;mreža;istorijat;korišćenje;učinkovitost;zadatak;upravnik;Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
Keywords[sl]=Nadzor;Sistem;Opravila;CPE;OPE;Pomnilnik;Omrežje;Zgodovina;Uporaba;Zmožnost;Naloge;Upravljalnik
Keywords[sr@latin]=prati;sistem;proces;CPU;memorija;mreža;istorijat;korišćenje;učinkovitost;zadatak;upravnik;monitor;prati;sistem;proces;CPU;memorija;mreža;istorijat;korišćenje;učinkovitost;zadatak;upravnik;Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
Keywords[sv]=Skärm;System;Process;CPU;Minne;Nätverk;Historik;Användning;Prestanda;Uppgift;Hanterare;
Keywords[tr]=Gözlemci;İzleyici;Sistem;İşlem;Süreç;CPU;MİB;İşlemci;Bellek;Ağ;Geçmiş;Kullanım;Performans;Görev;Yönetici;
Keywords[zh_TW]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;監視;系統;處理程序;進程;處理機;CPU;記憶體;RAM;網路;歷史記錄;用量;效能;工作進程;管理器;監視器;
